#carousel {
   @include setQuery(md) {
      .carousel-control-prev{
         top: 0%;
         height: 50%;
      }
      .carousel-caption {
         position: unset;
         height: unset !important;
         padding: 0;
      }
      .carousel-item {
         padding-bottom: 10px;
         h1 {
            position: unset!important;
            color: #000000;
            display: block;
            width: 100%;
            font-size: $fs-1 + 5;
            .line-carousel {
               border-top-color: #000000;
            }
         }
         p {
            position: unset!important;
            color: #000000;
            font-size: $fs-1 - 3;
         }
         button {
            position: unset!important;
            margin: 10px 0px !important;
            font-size: $fs-1 - 3;
         }
      }
      .carousel-caption--config {
         height: unset;
      }
      .carousel-caption--config_2{
         padding: 10px;
      }
   }
   @include setQuery(lg){
      .carousel-item {
         h1 {
            font-size: $fs-2 - 10;
            width: 100%;
            .line-carousel{
               padding-bottom: 5px!important;
            }
         }
         p {
            font-size: $fs-1 - 2;
         }
         button {
            font-size: $fs-1 - 3;
            margin: 5px 0px !important;
         }
         .carousel-caption--footer{
            bottom: 20%;
         }
      }
   }
}