#header {
   position: relative;
   @include setQuery(md) {
      img{
         max-width: 80px;
      }
      #logo{
         b{
            font-size: $fs-1;
         }
      }
      #headermenu {
         position: absolute;
         top:90%;
         z-index: 100;
         width: 100%;
         right: 0;
         ul {
            position: relative;
            background-color: #ffffff;
            li {
               border-bottom: 1px solid #000000;
               cursor: pointer;
               a {
                  border: none !important;
                  display: flex;
                  align-items: center;
                  justify-content: end;
                  padding:5px 10px !important;
                  color: #000000;
                  .svg-cover {
                     width: 40px;
                  }
                  span {
                     margin-left: 5px;
                  }
                  .title-nav-header{
                     width: 70px;
                  }
               }
               &:hover{
                  background-color: #dddddd;
               }
            }
            &:after{
               position: absolute; 
               content: "";
               border-bottom: 15px solid #ffffff;
               border-left: 15px solid transparent;
               border-right: 15px solid transparent;
               bottom: 100%;
               right: 30px;
            }
         }
      }
   }
}