
#footer{
   background-color: $cl-black;
   color: $cl-text-content;
   position: relative;
   padding-bottom: $pd-bottom-field - 30;
   hr{
      border-top: 1.3px solid $cl-text-content;
      margin-top: 0;
   }
   span{
      font-size: $fs-1 - 3;
      cursor: pointer;
   }
   .language{
      color: #ffffff;   
   }
   .footer__menu{
      display: inline;
      span{
         margin: 0 3px;
         display: inline-block;
      }
   }
   .link-top{
      position: absolute;
      right: 20px;
      bottom: 50%;
      color:  $cl-text-content;
      text-decoration: none;
      text-align: center;
   }
   .link-top:hover,
   span:hover{
      color: $cl-active;
   }
}