$cl-black: #000000;
$cl-gray: #999999;
$cl-grayblack: #1d1d1d;
$cl-white: #ffffff;
$cl-active: #00adef;
$cl-text-content:#777777;

$fs-1:16px;
$fs-2:32px;
$fs-3:48px;
$fs-4:64px;
$fs-5:80px;
$fs-6:96px;

$pd-1:5px;
$pd-top-field: 50px;
$pd-bottom-field: 50px;
$pd-field:50px 0;

$mg-title: 25px 0px;
$mg-content: 50px 0 40px 0;


$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
