#vehicles{
   @media screen and (min-width: $md){
      #outVehicles{
         display: none;
      }
      .modal-header{
         border: 0px solid transparent;
      }
      ul{
         margin: auto;
         li{
            display: inline-block;
            padding-left: 10px;
            a{
               color: $cl-black;
               text-decoration: none;
               font-size: $fs-1 - 1;
               &:hover{
                  color: $cl-active;
               }
            }
         }
      }
      .modal-body{
         overflow-y: scroll;
         height: 430px;
         .card-modal{
            cursor: pointer;
            h3{
               text-align: center;
            }
         }
      }
      .modal{
         padding: 0;
         .modal-dialog{
            top: 17.5%!important;
            margin-top: 0!important;

         }
      }
      
   }
}